@charset "utf-8";

/* GERAL */
.pagina-aula header,
.pagina-aula footer {
  background-image: url("../imagens/background-2.png");
}

.conteudo-aula {
  line-height: 1.9em;
  margin: auto;
  padding: 16px 8px;
  width: 95%;
  max-width: 1000px;
}

.conteudo-aula ul {
  list-style-position: inside;
}

.apresentacao {
  margin: 8px auto;
  padding: 8px;
}

.apresentacao h2 {
  color: var(--cor_3);
  margin: 8px 0;
  padding: 8px;
  text-align: center;
}

.apresentacao h3 {
  color: var(--cor_4);
  margin: 16px 0 8px;
}

.apresentacao a {
  color: var(--cor_3);
  font-weight: 500;
  /* text-decoration: none; */
}

.apresentacao a.link-externo::after {
  content: '\00A0\1F517';
}

hr {
  background-color: var(--cor_4);
  border: none;
  height: 4px;
  margin: 24px 0 32px;
}


/* AULA 01 */
.aula-1 .exercicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('../imagens/background-1.png');
  background-position: center;
  padding: 16px 0;
}

.aula-1 .exercicio .imagem,
.aula-1 .exercicio .formulario {
  margin: 8px auto;
  width: 90%;
}

.aula-1 .exercicio img,
.aula-2 .exercicio img {
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
  max-width: 250px;
}

.aula-1 .container-1,
.aula-1 .container-2,
.aula-1 .container-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px auto;
  width: 90%;
}

.aula-1 .container-1 div,
.aula-1 .container-2 div {
  margin: 4px auto;
  width: 60%;
}

.aula-1 .exercicio a,
.aula-1 label {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.aula-1 div input,
.aula-1 div select {
  display: block;
  border: none;
  color: var(--cor_4);
  font-weight: 600;
  height: 30px;
  min-height: 2em;
  letter-spacing: 2px;
  margin: 8px auto;
  padding-left: 6px;
  width: 100%;
  max-width: 200px;
}

.aula-1 button {
  background-color: #fff;
  border: 2px solid var(--cor_4);
  border-radius: 20px;
  color: var(--cor_4);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  padding: 16px 0;
  margin: 8px auto;
  width: 44%;
}

.aula-1 button:hover {
  background-color: var(--cor_4);
  border: 2px solid transparent;
  color: #fff;
}

.aula-1 .retorno {
  background-image: url('../imagens/background-1.png');
  background-position: center;
  border-radius: 16px;
  margin: 24px auto 8px;
  padding: 16px 8px;
  width: 65%;
}

.aula-1 .retorno p {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 4px auto;
  padding: 2px;
  text-align: center;
}


/* AULA 2 */
.aula-2 .exercicio-e-retorno {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('../imagens/background-1.png');
  background-position: center left;
  padding: 16px 0;
}

.aula-2 .exercicio,
.aula-2 .retorno {
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 6px #fff;
  margin: 8px;
  padding: 24px 8px;
  width: 95%;
}

.aula-2 .exercicio .formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
}

.aula-2 .exercicio .formulario p {
  margin: 16px 0;
}

.aula-2 .exercicio input {
  display: block;
  border: none;
  color: var(--cor_4);
  font-weight: 600;
  height: 30px;
  min-height: 2em;
  letter-spacing: 2px;
  margin: 16px auto 8px;
  padding-left: 6px;
  width: 100%;
  max-width: 200px;
}

.aula-2 .exercicio .container-3 {
  display: flex;
  flex-wrap: wrap;
}

.aula-2 .exercicio button {
  background-color: #fff;
  border: 2px solid var(--cor_4);
  border-radius: 20px;
  color: var(--cor_4);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 2px;
  margin: 24px auto;
  width: 46%;
}

.aula-2 .exercicio button:hover {
  background-color: var(--cor_4);
  border: 2px solid transparent;
  color: #fff;
}

.aula-2 .retorno {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aula-2 .retorno p {
  margin: 16px 0;
}

.aula-2 .tentativas-e-listaDePalpites,
.aula-2 .resultado-e-avisos {
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  width: 100%;
}

.aula-2 .retorno p {
  margin: 8px auto;
  text-align: center;
}

.aula-2 span {
  height: 34px;
  width: 100%;
  display: block;
}


/* AULA 3 */
.aula-3 .exercicio-e-retorno {
  background-image: url('../imagens/background-3-menor.png');
  background-position: bottom left;
  background-size: cover;
}

.aula-3 .container-1 {
  color: #fff;
  font-size: 1.05em;
  font-weight: 500;
  line-height: 2.5em;
  margin: 16px auto;
  padding: 16px;
  text-align: center;
}

.aula-3 .input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px auto;
  padding: 0 16px;
  width: 100%;
}

.aula-3 .input label {
  display: block;
  background-color: rgba(20, 67, 125, 0.782);
  border: 1px solid var(--cor_4);
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  margin: 8px;
  padding: 8px 4px;
  text-align: center;
  width: 78%;
}

.aula-3 .container-3 {
  margin: auto;
}

.aula-3 button {
  display: block;
  background-color: #fff;
  border: 2px solid var(--cor_4);
  border-radius: 20px;
  color: var(--cor_4);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  margin: 24px auto 16px;
  padding: 8px 2px;
  width: 200px;
}

.aula-3 button:hover {
  background-color: var(--cor_4);
  border: 2px solid transparent;
  color: #fff;
}

.aula-3 .retorno {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 8px;
}

.aula-3 img {
  border-radius: 8px;
  margin: 16px;
}


/* AULA 5 */
.aula-5 .container-1,
.aula-5 .container-2,
.aula-5 .container-3,
.aula-5 .container-4,
.aula-5 .container-5 {
  margin: 8px auto;
  padding: 16px 8px;
}

.aula-5 .container-1,
.aula-5 .container-2 {
  text-align: center;
}

.aula-5 .container-2,
.aula-5 .container-4 {
  background-image: url('../imagens/background-1.png');
  background-position: center;
  color: #fff;
}

.aula-5 .container-2 {
  margin: auto;
}

.aula-5 .jogo-1,
.aula-5 .jogo-2,
.aula-5 .jogo-3 {
  margin: 8px auto;
  max-width: 310px;
  padding: 2px 0;
}

.exercicio-e-retorno h3 {
  margin: auto;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.aula-5 .container-2 label {
  display: inline-block;
  background-color: rgba(20, 67, 125, 0.782);
  font-weight: 500;
  margin: auto;
  padding: 2px;
  text-align: center;
  min-width: 24%;
}

.aula-5 .container-2 input {
  display: inline-block;
  border: none;
  margin: 4px;
  padding: 4px;
  text-align: center;
  width: 32px;
}

.aula-5 .container-3 button,
.aula-5 .container-5 button {
  display: block;
  background-color: #fff;
  border: 2px solid var(--cor_4);
  border-radius: 20px;
  color: var(--cor_4);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 16px auto;
  padding: 8px 2px;
  width: 240px;
}

.aula-5 button:hover {
  background-color: var(--cor_4);
  border: 2px solid transparent;
  color: #fff;
}

.aula-5 .container-4 {
  overflow-x: auto;
}

.aula-5 .container-4 table {
  border-collapse: collapse;
  margin: 16px auto;
  width: 100%;
}

.aula-5 .container-4 th, 
.aula-5 .container-4 td {
  border: 1px solid var(--cor_4);
  padding: 2px 16px;
  text-align: center;
}

.aula-5 .container-5 ol {
  list-style-position: inside;
  margin: auto;
  padding: 8px;
  max-width: 500px;
}