@charset "utf-8";

:root {
  --cor_1: #6B7D14;
  --cor_2: #7D1D14;
  --cor_3: #14437D;
  --cor_4: #6696D1;
  --cor_5: #EEFCA7;
}

* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


/* HEADER */
header {
  text-align: center;
  padding: 16px 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header .logo a {
  color: #fff;
  text-decoration: none;
}

.menu-normal .links-menu {
  margin: 8px 8px 0;
  display: flex;
  flex-direction: column;
}

.m-responsivo .links-menu {
  margin: 8px 8px 0;
}

.menu-normal #icone-menu,
.m-responsivo #icone-menu {
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 16px;
  display: block;
}

.m-responsivo #icone-menu {
  font-size: 30px;
  padding: 8px 16px 13px;
}

.menu-normal .link-aula,
.m-responsivo .link-aula {
  list-style-type: none;
  padding: 6px;
  display: none;
}

.m-responsivo .link-aula {
  display: block;
}

.menu-normal .link-aula a,
.m-responsivo .link-aula a {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
}


/* INDEX */
.pagina-principal {
  background-image: url('../imagens/background.png');
  background-position: center;
  height: 100vh;
}

.container-aulas {
  margin: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-aulas .aula {
  border: 3px inset var(--cor_4);
  border-radius: 8px;
  margin: 8px;
  padding: 40px;
  text-align: center;
  width: 40%;
}

.container-aulas .aula:hover {
  background-color: var(--cor_4);
  border: 3px outset #fff;
}

.container-aulas a {
  color: white;
  font-size: 1.6em;
  text-decoration: none;
  width: 100%;
  display: block;
}

.container-aulas a:hover {
  color: var(--cor_3);
}


/* AULAS */

/* GERAL */
.pagina-aula header,
.pagina-aula footer {
  background-color: var(--cor_3);
}

.conteudo-aula {
  line-height: 1.9em;
  margin: auto;
  padding: 16px 8px;
  width: 95%;
  max-width: 1000px;
}

.conteudo-aula ul {
  list-style-position: inside;
}


/* AULA 01 */
.apresentacao {
  margin: 8px auto;
  padding: 8px;
}

.apresentacao h2 {
  color: var(--cor_3);
  margin: 8px 0;
  padding: 8px;
  text-align: center;
}

.apresentacao h3 {
  color: var(--cor_4);
  margin: 8px 0;
}

.exercicio {
  /* background-image: linear-gradient(to bottom, yellow, red); */
  /* background-image: linear-gradient(to bottom, var(--cor_5), var(--cor_1)); */
  background-image: linear-gradient(to bottom, var(--cor_4), var(--cor_5));
  display: flex;
  flex-direction: column;
}

.exercicio .imagem {
  margin: 8px auto;
  width: 95%;
}

.exercicio img {
  height: auto;
  margin: auto;
  width: 100%;
  max-width: 250px;
  display: block;
}

.exercicio a {
  text-decoration: none;
}

.exercicio .formulario {
  margin: 8px auto;
  width: 95%;
}

.container-1,
.container-2,
.container-3 {
  margin: 8px auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.container-1 div,
.container-2 div {
  margin: 0 24px;
}

div label {
  text-align: center;
}

div label,
div input,
div select {
  height: 30px;
  margin: 8px 0;
  width: 100%;
  display: block;
}

button {
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
}

.retorno {
  background-image: linear-gradient(to bottom, var(--cor_5), var(--cor_4));
  border-radius: 16px;
  margin: 8px auto;
  padding: 16px 8px;
  width: 50%;
}

.retorno p {
  font-size: 1.5em;
  margin: 4px auto;
  text-align: center;
}


/* FOOTER */
.pagina-principal footer {
  padding: 40px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.pagina-aula footer {
  padding: 40px;
  text-align: center;
  width: 100%;
}

footer p {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 16px;
}

footer a {
  color: #fff;
  font-size: 1.5em;
  margin: 8px;
}

footer i {
  transition: 0.3s ease-in-out;
}

footer i:hover {
  transform: scale(1.1);
}