@charset "utf-8";

:root {
  --cor_1: #6B7D14;
  --cor_2: #7D1D14;
  --cor_3: #14437D;
  --cor_4: #6696D1;
  --cor_5: #EEFCA7;
}

* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


/* HEADER */
header {
  display: flex;
  flex-direction: column;
  padding: 16px 8px 8px;
  text-align: center;
  width: 100%;
}

header .logo a {
  color: #fff;
  text-decoration: none;
}

.menu-normal .links-menu {
  display: flex;
  flex-direction: column;
  margin: 8px 8px 0;
}

.m-responsivo .links-menu {
  margin: 8px 8px 0;
}

.menu-normal #icone-menu,
.m-responsivo #icone-menu {
  display: block;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 16px;
}

.m-responsivo #icone-menu {
  font-size: 30px;
  padding: 8px 16px 13px;
}

.menu-normal .link-aula,
.m-responsivo .link-aula {
  display: none;
  list-style-type: none;
  padding: 6px;
}

.m-responsivo .link-aula {
  display: block;
}

.menu-normal .link-aula a,
.m-responsivo .link-aula a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

.menu-normal .link-aula a:hover,
.m-responsivo .link-aula a:hover {
  border-bottom: 3px solid var(--cor_4);
}

.menu-normal .link-ativo,
.m-responsivo .link-ativo {
  border-bottom: 3px solid var(--cor_4);
}


/* INDEX */
.pagina-principal {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../imagens/background-2.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.pagina-principal header {
  margin: 24px 0;
  padding: 8px;
}

.container-aulas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 24px 0;
  padding: 8px;
}

.container-aulas .aula {
  background-image: linear-gradient(to bottom, var(--cor_3), var(--cor_4));
  border: 3px solid var(--cor_4);
  border-radius: 8px;
  color: #fff;
  font-size: 1.6em;
  margin: 16px 8px;
  padding: 40px 8px;
  text-align: center;
  text-decoration: none;
  width: 70%;
}

.container-aulas .aula:hover {
  border: 3px solid #fff;
  box-shadow: 2px 2px 6px #fff;
}


/* FOOTER */
.pagina-principal footer {
  margin: 24px 0;
  padding: 8px 8px 16px;
  text-align: center;
  width: 100%;
}

.pagina-aula footer {
  padding: 40px;
  text-align: center;
  width: 100%;
}

footer p {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 16px;
}

footer a {
  color: #fff;
  font-size: 1.5em;
  margin: 8px;
}

footer i {
  transition: 0.1s ease-in-out;
}

footer i:hover {
  transform: scale(1.2);
}