@charset "utf-8";

@media screen and (min-width: 768px) {
  /* HEADER */
  .menu-normal .links-menu {
    margin: 24px 8px 11px;
    flex-direction: row;
    justify-content: space-around;
  }

  .links-menu a {
    color: #fff;
    text-decoration: none;
  }

  .menu-normal #icone-menu {
    display: none;
  }

  .menu-normal .link-aula {
    display: block;
  }

  /* AULA 01 */
  .exercicio {
    flex-direction: row;
  }

  .exercicio .imagem {
    padding: 16px 0;
    width: 45%;
  }
}