@charset "utf-8";

@media screen and (min-width: 768px) {
  /* HEADER */
  .menu-normal .links-menu {
    margin: 24px 8px 11px;
    flex-direction: row;
    justify-content: space-around;
  }

  .links-menu a {
    color: #fff;
    text-decoration: none;
  }

  .menu-normal #icone-menu {
    display: none;
  }

  .menu-normal .link-aula {
    display: block;
  }

  /* INDEX */
  .container-aulas .aula {
    max-width: 40%;
  }


  /* AULA 01 */
  .aula-1 .exercicio .formulario {
    max-width: 58%;
  }

  .aula-1 .exercicio .imagem {
    max-width: 41%;
    padding: 16px 0;
  }

  .aula-1 .container-1 div,
  .aula-1 .container-2 div {
    max-width: 45%;
  }


  /* AULA 02 */
  .aula-2 .exercicio,
  .aula-2 .retorno {
    max-width: 46%;
  }

  /* AULA 03 */
  .aula-3 .input label {
    max-width: 48%;
  }
}